.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
  background-color: #fae602;
  color: #ffffff;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
  background-color: #FFC107;
}

.Button:hover:active {
  background-color: #FFC107;
}

.Button:active {
  background-color: #FFC107;
}

.Button:focus {
  background-color: #FFC107;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Blue,
.BlueOutline:hover,
.Bright:hover {
  background-color: #FFC107;
  color: #0000FF;
}

.BlueOutline,
.Blue:hover {
  background-color: #ffffff;
  color: #4d4d4d;
}

.Black,
.BlackOutline:hover {
  background-color: #1a1a1a;
  color: #e6e6e6;
}

.Black:hover,
.BlackOutline {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

.Bright {
  background-color: #FFC107;
  color: #4d4d4d;
}
