.Form {
  border: none;
  border-bottom: 2px #0000FF solid; /* Blue from your palette */
}

.Button {
  border: none;
  background-color: #343A40; /* Dark grey from your palette */
  color: #F8F9FA; /* Light grey from your palette */
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.Button:hover {
  cursor: pointer;
  background-color: #F8F9FA; /* Light grey from your palette */
  color: #343A40; /* Dark grey from your palette */
}
