.NavBar {

  background: linear-gradient(90deg, #FFFFFF, rgb(255, 153, 51));
    
    
  
  

  
border-bottom: 2px solid #800080;

  border: 1px solid #dadadf;
}



.NavLink {
  padding: 5px;
}

.Active i {
  color: #2142b2;
}