.SearchBar input {
    border-radius: 20px;
    color: #343A40;
    padding-left: 40px;
    margin-bottom: 16px;
    border: 1px solid #343A40;
    background-color: #F8F9FA; 
  }
  
  .SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
    color: #343A40;
  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #1A1A1A;
  }