
.Row {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .Card {
    margin: auto;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .Input {
    background-color: #F8F9FA;
    color: #343A40;
  }
  
  .Textarea {
    background-color: #F8F9FA;
    color: #343A40;
    border-color: #343A40;
  }
  
  @media (max-width: 413px) {
    .noBorder {
      border: none;
    }
  }

  @media screen and (max-width: 400px) {
    .Input, .Textarea {
      width: 50%;
      font-size: 14px;
    }
  }

  @media (max-width: 600px) {
    body {
      font-size: 12px;
    }
    h2 {
      font-size: 20px; /* Adjust the font size as per your preference */
    }
  }