.placeholder {
    width: 100%;
    min-height: 418px;
    background-color: #F8F9FA; 
    border: 1px dotted #343A40; 
    color: #4D4D4D; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .inputUploader {
    display: none;
  }
  