.App {
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(90deg, #1a1a1a, #4d4d4d);
  min-height: 100vh;
}

.Main {
  padding-top: 81px;
}

.Content {
  background-color: #F8F9FA; /* Light background for contrast */
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #343A40; 
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  transition: color ease-in-out 0.3s;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #FFA500; 
}

input[type="file"] {
  display: none;
}

i {
  color: #FFC107; 
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover{
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #FFA500; /* Orange color on hover */
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #F8F9FA; /* Light color for the track */
}
*::-webkit-scrollbar-thumb {
  background: #343A40; /* Dark color for the thumb */
}
*::-webkit-scrollbar-thumb:hover {
  background: #0000FF; /* Blue color on hover */
}
/* For screens smaller than 600px */
@media (max-width: 600px) {
  .Main {
    padding-top: 120px; 
  }
}

/* For screens smaller than 400px */
@media (max-width: 400px) {
  .Main {
    padding-top: 140px; 
  }
}